<%include inc/header.html%>

  <style>
    table td.center {
      text-align: center;
    }
    
    table td i.fa {
      margin-right: 8px;
      font-size: 14px;
    }
  </style>

  <div id="content">
    <div id="content-header">
      <div id="breadcrumb"> <a href="/admin" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Dashboard</a> <a href="/admin/sim"
          class="current">库存管理</a>
        <a href="#" class="current">
          <%=slide.name%>
        </a>
      </div>
      <h1><strong><%=slide.name%></strong></h1>
    </div>
    <div class="container-fluid">
      <hr>
      <div class="row-fluid">

      </div>
    </div>
  </div>


  <!--end-main-container-part-->

  <%include inc/footer.html%>

    </body>

    </html>